DirectoryIndex index.html
AddCharset UTF-8 .html
AddCharset UTF-8 .php
# Banned
ErrorDocument 403 /banned.php
# Short res link f.e. "/b/254"
RewriteEngine on
Options +FollowSymLinks

RewriteRule ^([0-9]+)/?$ imgboard.php?res=$1 [NC,L]
RewriteRule ^post/?$ imgboard.php [NC,L]
RewriteRule ^admin/?$ post?mode=admin [NC,L]

<IfModule mod_headers.c>
<Files *.html>
Header add Expires "Mon, 26 Jul 1997 05:00:00 GMT"
Header add Pragma "no-cache"
Header add Cache-Control "max-age=0; must-revalidate; no-cache; no-store"
Header set Expires "0"
Header unset Vary
</Files>
#cache css, javascript and text files for one week
<FilesMatch ".(js|css|txt)$">
Header set Cache-Control "max-age=604800"
</FilesMatch>

#cache flash and images for one month
<FilesMatch ".(flv|swf|ico|gif|jpg|jpeg|png)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
</IfModule>

Options All -Indexes

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>
